* {
	margin:0;
	padding:0;
}

@font-face{
	font-family: "Auto"; sans-serif;
	src: url(fonts/Auto1-LightItalicSmCp.ttf);
	/*font-weight: normal;*/
}

body {
	font-family: Auto;
	margin-left: 6%;
	margin-top: 0;
	background-color: rgba(230, 226, 195, 0.12);
}

.content {
	margin-left: 3%;
}

.content a {
	text-decoration: none;
	color: black;
}

.sunroom {
	-ms-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	transform: rotate(-9deg);
	position: absolute;
	font-weight: lighter;
}

#info {
	float: left;
	width: 100%;
	/*clear: both;*/
}

#ct {
	margin-top: 220px;
	float: left;
	width: 100%;
	font-weight: bolder;
}

#current {

}

#title {
	font-style: bold;
}

nav {
	margin-top: 10px;
	float: left;

}

nav ul {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: red;
}

nav.home {
	margin-top: 220px;
}

nav.home a {
	color: black;
}

#home {
	z-index: 69;
	width: 30px;
	height: 30px;
	margin-left: 75%;
	margin-top: 100px;
	position: fixed;
	background-color: white;
	border-radius: 50%;
}

.au {
	position: fixed;
	margin-left: 82%;
	margin-top: 650px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.ai {
	position: fixed;
	margin-left: 82%;
	margin-top: 650px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.ac {
	position: fixed;
	margin-left: 82%;
	margin-top: 370px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

}

circle {
	fill: #ffffff;
}
/*
circle:hover { 
	opacity: 0.8; 
	fill:  #e6e2c3;
	fill-opacity: 0.01;
}
*/

svg {
	width: 100%;
	position: absolute;
	z-index: -1000000;
	top: 0;
	left: 0;
}

.imgHome {
	margin-top: 300px;
	position: absolute;
	z-index: -1;
}

.imgDescription {
  position: absolute;
  color: black;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  font-size: 12px;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

div.gallery img {
	width: 100%;
	display: block;
    width: 80%;
    margin-top: 2.6em;
    /* margin: 30px auto; */
}

div.gallery p {
	margin-top: 0.5em;
}


@media (min-width: 320px) {
	.sunroom {
		font-size: 40px;
		margin-top: 40px;
	}

	#info {
		font-size: 16px;
		margin-top: 120px;
	}

	nav {
		font-size: 20px;
	}	

	nav.home {
		margin-top: 120px;
	}

	#current {
		font-size: 16px;
	}

	#ct {
		font-size: 16px;
		margin-top: 120px;
	}

	.imgHome {
		width: 210px;
		right: 10%;
	}

	.imgDescription {
	  position: absolute;
	  margin-top: 430px;
	  right: 10%;
	}
}

@media (min-width: 480px) {
	.sunroom {
		margin-top: 120px;
	}

	#info {
		margin-top: 220px;
	}

	nav.home {
		margin-top: 220px;
	}

	#ct {
		margin-top: 220px;
	}

	.imgHome {
		width: 410px;
		right: 13%;
	}

	.imgDescription {
	  position: absolute;
	  margin-top: 540px;
	  right: 13%;
	}
}
