* {
	margin:0;
	padding:0;
}

@font-face{
	font-family: "Auto"; sans-serif;
	src: url(fonts/Auto1-LightItalicSmCp.ttf);
	/*font-weight: normal;*/
}

body {
	font-family: Auto;
	margin-left: 6%;
	margin-top: 0;
	background-color: rgba(230, 226, 195, 0.12);
	padding-bottom: 20px;
}

.content {
	margin-left: 3%;
	float: left;
	width: 100%;
}

.content a {
	text-decoration: none;
	color: black;
}

.pureText {
	margin-top: 220px;
}

.sunroom {
	-ms-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	transform: rotate(-9deg);
	position: absolute;
	font-weight: lighter;
}

a:hover {
    text-decoration: underline;
}

.description {
	float: left;
	width: 99%;
	/*clear: both;*/
}

#ct {
	margin-top: 220px;
	float: left;
	width: 100%;
	font-weight: bolder;
}

.bold-title {
	font-weight: bolder;
}

#title {
	font-style: bold;
}

nav {
	margin-top: 10px;
	float: left;
}

nav ul {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: red;
}

nav.home {
	margin-top: 220px;
}

nav.home a {
	color: black;
}

#image-credit {
	/* font-size: 13px; */ 
	margin-top: 20px;
	padding-bottom: 20px;
}

#home {
	z-index: 69;
	width: 30px;
	height: 30px;
	margin-left: 75%;
	margin-top: 100px;
	position: fixed;
	background-color: white;
	border-radius: 50%;
}

.au {
	position: fixed;
	margin-left: 82%;
	margin-top: 650px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.ai {
	position: fixed;
	margin-left: 82%;
	margin-top: 650px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.ac {
	position: fixed;
	margin-left: 82%;
	margin-top: 370px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

}

circle {
	fill: #ffffff;
}
/*
circle:hover { 
	opacity: 0.8; 
	fill:  #e6e2c3;
	fill-opacity: 0.01;
}
*/

svg {
	width: 100%;
	position: absolute;
	z-index: -1000000;
	top: 0;
	left: 0;
}

.img-wrap {
	position: absolute;
	width: 50%;
	max-width: 800px;
	margin-left: 35%;
}

.img-home {
	/* max-width: 350px; */
	width: 100%;
	margin-top: 180px;
	z-index: -1;
}

.img-interior {
	max-width: 350px;
	margin-left: 35%;
	width: 25%;
	position: absolute;
	margin-top: 200px;
}

.img-description {
	position: relative;
	color: black;
	visibility: hidden;
	opacity: 0;
	text-align: right;
	font-size: 12px;
}


.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

div.gallery img {
	display: block;
    margin-top: 2.6em;
    /* margin: 30px auto; */
}

div.gallery {
	width: 90%;
}

div.gallery p {
	margin-top: 0.5em;
}

img.landscape {
	width: 80%;
}

img.portrait {
	width: 53%;
}

img.portrait-pair {
	width: 40%;
	float: left;
	margin-bottom: 2em;
}

#redCorn {
	background-image: url('img/current/_MG_4262.jpg')
}

#redCorn:hover {
	background-image: url('img/current/_SS_0032.jpg')
}

@media (min-width: 320px) {
	.sunroom {
		font-size: 40px;
		margin-top: 40px;
	}

	nav {
		font-size: 20px;
	}	

	nav.home {
		margin-top: 120px;
	}

	.description {
		font-size: 16px;
	}

	.bigger {
		font-size: 20px;
		clear: both;
	}

	.pureText {
		font-size: 16px;
		margin-top: 120px;
	}

	.img-interior {
		margin-top: 100px;
	}
}

@media (min-width: 480px) {
	.sunroom {
		margin-top: 120px;
	}

	.pureText {
		margin-top: 220px;
	}

	nav.home {
		margin-top: 220px;
	}

	.img-interior {
		margin-top: 150px;
	}	
}
